{% extends 'MyInventoryApp/base.html' %}
{% load static %}
                
                {% block content %}
               <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2>Waterbottles</h2>
                    <a href="{% url 'view_supplier' %}" class="btn btn-outline-secondary">Back</a>
                </div>
                
                <div class="col-12">

                    <table class="table table-striped table-hover">
                        <thead>
                            <th class="border-top border-bottom" scope="col"> SKU </th>
                            <th class="border-top border-bottom" scope="col"> Brand </th>
                            <th class="border-top border-bottom" scope="col"> Cost </th>
                            <th class="border-top border-bottom" scope="col"> Size </th>
                            <th class="border-top border-bottom" scope="col"> Mouth Size </th>
                            <th class="border-top border-bottom" scope="col"> Color </th>
                            <th class="border-top border-bottom" scope="col"> Supplied by </th>
                            <th class="border-top border-bottom" scope="col"> Current Quantity </th>
                        </thead>
                        <tbody>
                            {% for w in waterbottles %}
                            <tr style="cursor:pointer;" onclick="window.location='{% url 'view_bottle_details' pk=w.pk %}'">
                                <td> {{ w.SKU }} </td>
                                <td> {{ w.Brand }} </td>
                                <td> {{ w.Cost }} </td>
                                <td> {{ w.Size }} </td>
                                <td> {{ w.Mouth_Size }} </td>
                                <td> {{ w.Color }} </td>
                                <td> {{ w.Supplied_by.Name }} </td>
                                <td> {{ w.Current_Quantity }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                {% endblock %}