{% extends 'MyInventoryApp/base.html' %}
{% load static %}
                
                {% block content %}
               <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2>Suppliers</h2>
                    <div>
                        <a href ="{% url 'add_bottle' %}" class="btn btn-success me-2">Add Water Bottles</a>
                        {% if account %}
                            <a href="{% url 'manage_account' pk=account.pk %}" class="btn btn-outline-secondary me-2">Manage Account</a>
                        {% endif %}
                        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                    </div>
                </div>

                <div class="col-12">

                    <table class="table table-striped table-hover">
                        <thead>
                            <th class="border-top border-bottom" scope="col"> Name </th>
                            <th class="border-top border-bottom" scope="col"> City </th>
                            <th class="border-top border-bottom" scope="col"> Country </th>
                            <th class="border-top border-bottom" scope="col"> Created at </th>
                        </thead>
                        <tbody>
                            {% for s in suppliers %}
                            <tr style="cursor:pointer;" onclick="window.location='{% url 'view_supplier_bottles' pk=s.pk %}'">
                                <td> {{ s.Name }} </td>
                                <td> {{ s.City }} </td>
                                <td> {{ s.Country }} </td>
                                <td> {{ s.Created_At }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                {% endblock %}